@import "table-of-contents";
@import "mixins/mixins";
@import "general/utility-classes";
@import "general/keyframes";
@import "general/general";
@import "element/elements";
@import "component/components";
@import "page/pages";
@import "modules/modules";

@import "bootstrap/config.bs.scss";
// theme specific scss
@import "themes";

// responsive styles
@import "responsive";

.el-select__popper
{
    z-index: 10000 !important;
}

.el-input__inner
{
    height: 3.25rem !important;
}

.el-select__caret
{
    height: 3.25rem !important;
}

.el-input__inner
{
    padding-left: 50px !important;
    font-size: 15px !important;
}

.el-input__icon
{
    color: #000 !important;
    font-size: 25px !important;
    font-weight: 900 !important;
    width: 35px !important;
}

.vs__dropdown-toggle
{
    background-color: #fff;
}