.lateral-schedule-background {
    background-color: #faf4ff !important;
}
.ui-datepicker {
    z-index: 9999 !important;
}
.lateralCardColor
{
    border-left-color: #60269E !important;
    border-left-width: 5px !important;
}
.wickedpicker
{
    z-index: 9999 !important;
}
.atbd-drawer
{
    overflow: auto !important;
}
.border-title-bottom
{
    border-bottom-color: #60269E !important;
}
.vc-time-picker
{
    > :first-child
    {
        display: none !important;
    }
}
.vc-time-date
{
    display: none !important;
}
.vc-select
{
    > select
    {
        background-color: #fff !important;
        border: none !important;
    }
}
.vc-am-pm
{
    background-color: #fff !important;
    padding: 0 !important;

    .active
    {
        background-color: #60269E !important;
        border: none !important;
    }
}