.login-splash
{
    background-image: url('/images/login.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: none !important;
}

.login-container
{
    height: 100vh;
}

.center-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.password-text
{
    padding-top: 12.5px !important;
}

.login-logo
{
    width: 20%;
}

.reset:hover
{
    cursor: pointer;
}

@media (min-width: 768px)
{
    .login-splash
    {
        display: flex !important;
    }
}
