.modal-dialog-pdf
{
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

.pdf
{
    height: 90vh !important;
}

.button-pdf
{
    height: calc(5%);
}

.pdf
{
    height: calc(95%);
}

.result-modal{
    height: 90vh !important;
}