.modal-dialog
{
    width: 80% !important;
    min-width: 80% !important;
    max-width: 80% !important;
}

.modal-content
{
    height: 90vh !important;
}

.button-pdf
{
    height: calc(5%);
}

.pdf
{
    height: calc(95%);
}