.register-splash
{
    background-image: url('/images/login.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw !important;
    height: 50vh;
    box-shadow: inset 0 0 0 1000px rgba(96, 38, 158, 0.7);
}

.center-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.password-text
{
    padding-top: 12.5px !important;
}

.register-logo
{
    width: 20%;
}

@media (min-width: 768px)
{
    .register-splash
    {
        height: 100vh;
    }
}

.capital-text
{
    text-transform: none !important;
}
